@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
		<li><a class="valign-wrapper" asp-area="Identity" asp-page="/Account/Logout" title="Logout"><i class="material-icons">exit_to_app</i></a></li>
    </li>
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Register" class="valign-wrapper">Register</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login" class="valign-wrapper">Login</a></li>
}