@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row" style="padding-top:50px">
	<div class="col offset-s3 s6">
		<div class="card">
			<div class="card-content">	
				<span class="card-title">@ViewData["Title"]</span>
				<form method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Input.Email"></label>
						<input asp-for="Input.Email" class="form-control" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
