
@{
    ViewData["Title"] = "Publish";
}

<div class="container">

    <div class="row">
        <div class="col s12">
            <h3>About the Ironman Software Marketplace</h3>

            <div class="row">
                <div class="col s12 m12">
                    <p>The Ironman Software Marketplace is a tool for finding solutions that have already been developed and are available on the <a href="https://www.powershellgallery.com">PowerShell Gallery</a>. </p>

                    <p>You can search for components based on title, description, README.md, tags and author. Top and new components appear on the home page. Modules are synchronized every 60 minutes from the PowerShell Gallery.</p>
                </div>
            </div>

            <h3>Submitting a Module</h3>

            <p>If you have a component you'd like to submit, all you need to do is <a href="https://docs.microsoft.com/en-us/powershell/gallery/overview">publish your solution as a module to the PowerShell Gallery</a>. You'll need to include the <pre style="display: inline">ud-control</pre> tag for a PowerShell Universal Dashboard compoennt to be discovered. For PSCommander extensions, include the <pre style="display: inline">pscommander</pre> tag. All the information about your module, like author and description, will be pulled from your module manifest.</p>

            <img src="~/images/module-info.png" class="z-depth-3 center-align" />

            <p>To include a custom README.md file to display additional components information, you have to make sure that your <pre style="display: inline">ProjectUrl</pre> property in your module manifest points to your public GitHub repository. The Ironman Software Marketplace will automatically download the markdown from GitHub and present it within the item's page for users to easily see. You can use the <a href="https://github.com/ironmansoftware/ud-bginfo">ud-bginfo</a> repository as an example.</p> Images stored within the GitHub page should be automatically displayed in the Marketplace.

            <img src="~/images/readme.png" class="z-depth-3 center-align" style="margin-top:25px" />
        </div>
    </div>
</div>
