@model Marketplace.Models.HomeViewModel

<div class="container">
    
    <div class="center-align">
        <h3>Modules for PowerShell Universal Dashboard</h3>
        <h5>The Universal Dashboard Marketplace provides a collection of dashboards and controls built for Universal Dashboard.</h5>
        <form asp-controller="Search" asp-action="Result" method="post" id="searchForm">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="searchText" name="searchText" type="text">
                <label for="searchText">Search</label>
            </div>
        </form>
    </div>

    <h5>Most Downloaded</h5>

    <div class="row">
        @foreach (var package in Model.MostDownloadedPackages)
        {
            <div class="col s12 m4">
                <partial name="ModuleInfoCard" model="@package" />
            </div>
        }

    </div>

    <h5>New</h5>

    <div class="row">
        @foreach (var package in Model.NewPackages)
        {
            <div class="col s12 m4">
                <partial name="ModuleInfoCard" model="@package" />
            </div>
        }
    </div>

</div>

