@model Marketplace.Models.SearchViewModel

<div class="container">

    <div class="center-align">
        <form asp-controller="Search" asp-action="Result" method="post" id="searchForm">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="searchText" name="searchText" type="text">
                <label for="searchText">Search</label>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s2">
            @if (Model.TotalItems == 1)
            {
                <h5>1 Result</h5>
            }
            else
            {
                <h5>@Model.TotalItems Results</h5>
            }
        </div>
    </div>

    <div class="row">
        @foreach (var package in Model.Modules)
        {
            <div class="col s12 m4">
                <partial name="ModuleInfoCard" model="@package" />
            </div>
        }

    </div>
</div>

