body {
    background-color: #f1f1f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.heading {
     font-size: 28px;
     line-height: 1.5;
     font-weight: 500;
}

.heading span {
    margin-left: 15px;
    margin-top: 8px;
    float: left;
}

.heading ul {
    height: 100%;
}

.heading ul li {
    height: 100%;
}

.heading ul li a {
    height: 100%;
    color:white;
}

.heading img {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    margin-left:10px;
    margin-top:10px;
    background-color:white;
    padding: 3px;
    float:left;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #242A31;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.home-component-card .card-content {
    color:rgba(0,0,0,0.87);
    text-align: center;
    padding: 5px;
}

.heavy {
    font-weight: 500;
}

.home-component-card .card-info .right-align {
    margin-left: 0px;
}

.home-component-card div img {
    height: 128px;
    width: 128px;
    padding-top: 10px;
}

@media only screen and (min-width: 601px) {
    .info-card {
        z-index: 10;
        margin-top: -200px;
        margin-left: -20px !important;
    }
}

.nav-bar {
    background-color: #00418e !important;
    color: white !important;
}

.secondary-nav-bar {
    background-color: rgba(0, 65, 142, 0.51) !important;
    color: black !important;
}